version: "3"

services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000"
    entrypoint: ["azurite-blob", "--blobHost", "0.0.0.0", "--blobPort", "10000"]

  test:
    build: .
    volumes:
      - ./tests:/opt/hydrograph_stats/tests
      - ${PWD}/pytest.ini:/opt/hydrograph_stats/pytest.ini
    environment:
      - AZ_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
    entrypoint: ["pytest", "--verbose", "-m", "integration"]
    depends_on:
      - azurite

